html, body {
  width: 320px;
  margin: 0 auto; 
  padding: 0px;
}
body img {
  max-width: 320px;
}
.foto-legenda {
  margin-top: 10px;
  display: block;
  font-family: sans-serif;
  font-size: x-small;
  color: #c4c4c4;
}

h1 {
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
}


#button_container {
  text-align: left;
  margin-bottom: 15px;
}

#button_container select {
  float: right;
  margin-top: 10px;
}

/*
#speech {
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #bbbbbb;
  text-transform: uppercase;
  text-decoration: none !important;
  border: none !important;
  padding: 5px;
}
#speech i {
  vertical-align: top;
  line-height: 28px;
}
*/

#speech:hover {
  opacity: 0.8;
}

/*
.classname {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:33px;
  line-height:33px;
  width:104px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}
.classname:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.classname:active {
  position:relative;
  top:1px;
}
*/
